<div class="container">
  <h1>Angular Routing</h1>
  <nav>
    <ul class="nav-links">
      <li>
        <a
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
          routerLink=""
        >
          Home
        </a>
      </li>
      <li><a routerLinkActive="active" routerLink="car">Car</a></li>
      <li><a routerLinkActive="active" routerLink="devices">Devices</a></li>
      <li><a routerLinkActive="active" routerLink="languages">Languages</a></li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</div>
