* {
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  color: #8181dd;
  background: #0d121c;
}

.container {
  max-width: 1180px;
  padding: 0 20px;
  margin: auto;
}

section {
  padding: 10px 0;
}

h1,
h2 {
  text-align: center;
}

a {
  color: #414283;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.router-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: 600;
  gap: 10px 20px;
}

.btn,
.router-links a {
  display: block;
  min-width: 140px;
  background: #142230;
  border-radius: 8px;
  border: 1px solid #282956;
  text-align: center;
  padding: 20px 0;
  cursor: pointer;
}

.btn {
  color: #414283;
  padding: 20px 10px;
}

.active {
  color: #8181dd;
}
